@inherits BlazorLayoutComponent

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/hassanhabib/WhenWillIBeAMillionaire" target="_blank" class="ml-md-auto">Source</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
